{%extends "script.html"%}

{%block cuerpo%}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card"> <!-- la targeta card -->
            <div class="card-body">
                <form action="editEmployee/" method="POST"> {% csrf_token %}<!-- formulario -->
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control" value="{{employees1.employee_id}}" minLength="3" maxLenght="6" readonly required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtname" name="txtname" class="form-control" value="{{employees1.employee_name}}" maxLenght="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtmail" name="txtmail" class="form-control" value="{{employees1.employee_mail}}" maxlength="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtdir" name="txtdir" class="form-control" value="{{employees1.employee_dir}}" maxlength="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtdir1" name="txtdir1" class="form-control" value="{{employees1.employee_dir1}}" maxlength="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtdesc" name="txtdesc" class="form-control" value="{{employees1.employee_desc}}" maxlength="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtrat" name="txtrat" class="form-control" value="{{employees1.employee_rat}}" maxlength="100" required>
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form> <!-- formulario -->
            </div>
        </div> <!-- la targeta card -->
    </div> <!-- columna -->
</div> <!-- la fila -->
{%endblock%}