{% extends 'script.html' %} {%load static%}

{% block cuerpo %}
<div class="row"><!-- la fila -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda -->
        <h1>Register</h1>
            <div class="card"> <!-- tarjeta -->
                <div class="card-body">
                    <form action="registerProvider/" method="POST"> {% csrf_token %}<!-- formulario -->
                        <div class="form-group">
                            <input type="text" id="txtid" name="txtid" class="form-control" placeholder="Provider id" minLength="3" maxLenght="6" required>
                        </div>
                        <div class="form-group py-3">
                            <input type="text" id="txtname" name="txtname" class="form-control" placeholder="Provider name" maxLenght="100" required>
                        </div>
                        <div class="form-group py-0">
                            <input type="text" id="txtdir" name="txtdir" class="form-control" placeholder="Provider address" maxlength="100" required>
                        </div>
                        <div class="form-group py-3">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form> <!-- formulario -->
                </div>
            </div><!-- tarjeta -->
    </div><!-- columna izquierda -->
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-4"><!-- columna derecha -->
        <h1>Providers List</h1>
        <img class="w-50" src="{%static 'img/providers.jpg'%}" alt="what" width="100" height="100"/>
        <div class="table-responsive"> <!-- tavla responsiva -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in providers1 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.provider_id}}</td>
                        <td>{{p.provider_name}}</td>
                        <td>{{p.provider_dir}}</td>
                        <td><a href="selectProvider/{{p.provider_id}}" class="btn btn-info">Edit</a></td>
                        <td><a href="deleteProvider/{{p.provider_id}}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- tavla responsiva -->
    </div><!-- columna derecha -->
</div><!-- la fila -->
{% endblock %}