{%extends "script.html"%}

{%block cuerpo%}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card"> <!-- la targeta card -->
            <div class="card-body">
                <form action="editCafe/" method="POST"> {% csrf_token %}<!-- formulario -->
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control" value="{{cafe1.cafe_id}}" minLength="3" maxLenght="6" readonly required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtname" name="txtname" class="form-control" value="{{cafe1.cafe_dir}}" maxLenght="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtman" name="txtman" class="form-control" value="{{cafe1.cafe_man}}" maxLenght="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtphone" name="txtphone" class="form-control" value="{{cafe1.cafe_phone}}" maxLenght="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtcity" name="txtcity" class="form-control" value="{{cafe1.cafe_city}}" maxLenght="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtmail" name="txtmail" class="form-control" value="{{cafe1.cafe_mail}}" maxLenght="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="numprice" name="numprice" class="form-control" value="1" min="1" max="9" required>
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form> <!-- formulario -->
            </div>
        </div> <!-- la targeta card -->
    </div> <!-- columna -->
</div> <!-- la fila -->
{%endblock%}